			/*全局样式*/
				*{
					margin: 0;
					padding: 0;
				}
				a{
					text-decoration: none;
				}
				ul{
					list-style: none;
				}
				/*防止父盒子塌陷*/
				.clearfix:after{
								content: '';
								display: block;
								height: 0px;
								visibility: hidden;
								clear: both;
				}
				/*设置顶部盒子样式*/
				.header{
					background: #333;
					width: 100%;
					height: 40px;
				}
				/*盒子居中*/
				.header_center{
					height: 40px;
					width: 1230px;
					margin: 0 auto;
				}
				/*左边盒子样式*/
				.cen_left{
					float: left;
					font-size: 12px;
					color: #b0b0b0;
				}
					/*左边盒子a标签样式*/
				.cen_left a:nth-child(1){
					margin-left: 0px;
				}
				.cen_left a,.cen_right a{
					margin: 0 3px;
					line-height: 40px;
				}
				/*右边盒子样式*/
				.cen_right{
					height: 40px;
					width: 265px;
					float: right;
					font-size: 12px;
					color: #b0b0b0;
				}
				.cen_right_box{
					float: right;
					height: 40px;
					width: 120px;
					background: #424242;
				}
				.cen_right_box img{
					width: 18px;
					height: 18px;
					margin-top: 10px;
					float: left;
					margin-left: 23px;
				}
				.cen_right_box span{
					margin-right: 23px;
					display: block;
					line-height: 40px;
					float: right;
				}
			/** 下拉*/
			.xiala {
			  position: relative;
			  background-color: rgba(0, 0, 0, .5);;
			  transition: height 0.3s ease; /* 定义高度变化的过渡效果 */
			  z-index: 9999;
			  top: -49px;
			}
			.navDiv{
				display: none;
				height: 180px;
				transition: display 0.3s ease; /* 定义显示/隐藏的过渡效果 */
				color: #f5f5f5;
			}
			/**logo+搜索框css*/
			.logo{
				width: 60px;
				height: 60px;
				background: #f7b500;
				border-radius: 20px; /* 圆角 */
				margin-left: 29px;
			}
			.logo img{
				width: 100%;
				
			}
			.nav_ul{
					height: 58px;
					margin: 0;
					padding: 12px 0 0 30px;
					list-style-type: none;
					font-size: 16px;
					margin-top: 30px;
			}
			.nav_ul li{
				display: inline;
				padding-right: 20px;
				padding-top: 38px;
				padding-bottom: 38px;
			}
			.nav_ul li:first-child {
				  visibility: hidden;
			}
			
			.nav_ul li span{
				color: #333;
				padding: 38px 0px;
				
			}
			.nav_ul li span:hover{
				color: #f60;
				cursor: pointer;
				
			}
			/**搜索框*/
			.ssk{
					border: none;  /* 去掉默认边框 */
				    border-bottom: 3px solid #fff; /* 添加底部边框 */
				    outline: none; /* 去掉聚焦时的外边框 */
				    width: 221px;
				    height: 27px;
				    background: #eee;
			}
			.fdj{	border: none;  /* 去掉边框 */
				    outline: none; /* 去掉聚焦时的外边框 */
				    height: 30px;
					width: 40px;
				    position: relative;
				    top: 10px;
					background-image: url("../img/qianduan/首页/搜索.png");
					background-repeat: no-repeat;
					background-position: 9px center;
			}
			.sousuo{
				position: relative;
				    /* float: right; */
				    top: -80px;
				    left: 930px;
				    width: 273px;
			}
			
			.logo, .nav_ul {
			  display: inline-block;
			  vertical-align: middle;
			}
			/*导航栏样式*/
			.nav{
				width: 100%;
				height: 100px;
				background: #eee;
			}
			.nav_center{
				width: 1230px;
				margin: 0 auto;
				
			}
			.logo1{
				    width: 56px;
				    height: 56px;
			}
			.info-text{
			    padding: 30px 0;
			    font-size: 12px;
			    display: flex;
			    justify-content: flex-start;
			    width: 1230px;
			    margin: auto;
			}
			.info-text .sites{
				margin-top: 0;
				line-height: 18px;
				color: #757575;
				
			}
			.info-text .sites a{
				color: #757575;
			}
			.stons{
				margin: 0;
				line-height: 18px;
				 color: #b0b0b0;
			}
			.stons a{
				    color: #b0b0b0;
			}
			.con2_left ul li img{
				display: block;
				    width: 24px;
				    height: 24px;
				    margin: 0 auto 4px;
			}
			.con2_left ul li a{
				    display: block;
				    padding-top: 18px;
				    text-overflow: ellipsis;
				    color: #fff;
				    opacity: .7;
				    -webkit-transition: opacity .2s;
				    transition: opacity .2s;
			}
			.con2_left ul li{
				    position: relative;
				    float: left;
				    width: 70px;
				    height: 82px;
				    padding: 0 3px;
			}
			.con2_left ul{
				    margin: 0;
				    list-style-type: none;
				    font-size: 12px;
				    text-align: center;
				    background: #5f5750;
			}
					.con6{
							width: 1230px;
							height: 500px;
							margin: 0 auto;
							background: white;
					}
					.con6_1{
						padding: 27px 0;
						border-bottom: 1px solid black;
					}
					.con6_1_ul{
						list-style-type: none;
					}
					.con6_1_ul li{
							display: inline;
							width: 19.8%;
							height: 25px;
							border-left: 1px solid black;
							font-size: 16px;
							line-height: 25px;
							text-align: center;
							padding-left: 60px;
							margin-left: 40px;
					}
					.con6_1_ul li img,
					.con6_1_ul li span {
						vertical-align: middle;
					}
					.con6_1_ul li img{
						margin-right: 5px;
					}
					.con6_1_ul li span{
						transition: color 0.1s;
					}
					.con6_1_ul li span:hover{
							cursor: pointer;
							color: #f60;
					}
					.con6_1_ul li:nth-child(1){
						 border-left: none;
					}
					/*选购指南-服务中心-线下门店-关于小米-关注我们*/
					.con6_2{
						padding: 40px 0;
					}
					.first_dl,.con6_dl{
						float: left;
						width: 160px;
						margin: 0;
					}
					.first_dl dt,.con6_dl dt{
						margin: -1px 0 26px;
						font-size: 16px;
						line-height: 1.25;
						color: #424242;
					}
					.con6_dl dd{
							margin: 10px 0 0;
							font-size: 14px;
							transition: color 0.1s;
					}
					.con6_dl dd:hover{
							cursor: pointer;
							color: #f60;
					}
					/**联系电话**/
					.lxdh{
							float: right;
							width: 251px;
							border-left: 1px solid #e0e0e0;
							text-align: center;
							color: #616161;
					}
					.lxdh_p1{
							font-size: 24px;
							line-height: 1;
							color: #ff6700;
					}
					.lxdh_p2{
						margin: 0 0 5px 0;
						font-size: 14px;
					}
					.btn-line-primary {
						border-color: #ff6700;
						background: #fff;
						color: #ff6700;
					}
					.btn-small {
						width: 118px;
						height: 28px;
						font-size: 12px;
						line-height: 28px;
					}
					.btn {
						display: inline-block;
						width: 158px;
						height: 38px;
						border: 1px solid red;
						font-size: 14px;
						line-height: 38px;
						text-align: center;
						color: red;
						cursor: pointer;
						transition: color 1s,border 1s,background 1s ;
					}
					.btn:hover{
						border: 1px solid #333;
						background: #ff6700;
						color: #fff;
					}