@charset "UTF-8";
		*{
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration: none;
			color: #b0b0b0;
		}
		#a1{
			width: 100%;
			height: 1028px;
			background-color: #f5f5f5;
			padding-bottom: 40px;
			
		}
		#a2{
			width: 1240px;
			height: 988px;
			background-color:#f5f5f5;
			margin: 0 auto;
		}
		#a3{
			width: 234px;
			height: 988px;
			background-color:white;
			float: none;
		}
		
		#a5{
			width: 978px;
			background-color:white;
			float: left;
			margin-top: -987px;
			margin-left: 250px;
			padding: 20px 40px;
		}
		#span{
			width: 138px;
			height: 184px;
			background-color: white;
			margin: 0 48px 12px;
			padding-top: 10px;
		}
		.list{
			    margin:0;
			    padding: 0;
			    list-style: none;
		}
		.list li{
			    margin: 10px;
				font-size: 13px;
		}
		.title{
			margin: 20px 10px ;
			padding-top: 20px;
		}
		
		.poral-2{
			padding: 36px 0;
		}
		.title1{
			margin: 0;
			    font-size: 30px;
			    font-weight: 400;
			    line-height: 68px;
			    color: #757575;
		}
		.filter{
			    float: left;
			    margin: 0;
			    padding: 18px 0;
			    list-style-type: none;
			    font-size: 16px;
			    line-height: 1.25;
		}
		.filter .first{
			    padding-left: 0;
			    border-left: 0;
		}
		.filter li{
			    float: left;
			    padding: 0 20px;
			    border-left: 1px solid #e0e0e0;
			    color: #757575;
		}
		.filter2 .first{
			    padding-left: 0;
			    border-left: 0;
		}
		.filter2 li{
			    float: left;
			    padding: 0 20px;
			    border-left: 1px solid #e0e0e0;
			    color: #757575;
		}
		li{
			list-style: none;
		}
		.filter2{
			
			margin: 0;
			list-style-type: none;
			font-size: 16px;
			line-height: 1.25;
			border-bottom: 1px solid #ff6700;
			height: 55px;
			padding: 10px 20px;
			line-height: 55px;
			background: #fffaf7;
		}
		
		.order-sumary{
			background: #fffaf7;
			padding: 25px 30px 1px;
		}
		.order-status{
			color: #ff6700;
			font-size: 18px;
		}
		.col-sub{
			
			    padding-bottom: 10px;
			    text-align: right;
		}
		.order-item{
			padding: 10px 30px;
			width: 450px;
		}
		.order-item li{
			position: relative;
			    height: 44px;
			    margin: 10px 0;
			    padding: 18px 18px 18px 100px;
			    line-height: 22px;
			    color: #333;
		}
		.fiurs{
			width: 80px;
			height: 86px;
			position: absolute;
			    left: 0;
			    top: 0;
		}
		.order-actions{
			    float: right;
			    vertical-align: top;
				padding: 0 30px;
				margin-top: -95px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
		}
		.btn-sasmwy{
			background: #ff6700;
			    border-color: #ff6700;
			    color: #fff;
		}
		.btn{
			text-align: center;
			border: 1px solid #b0b0b0;
			display: block;
			float: right;
		}
		.btn-small{
			width: 118px;
			height: 28px;
			font-size: 12px;
			line-height: 28px;
			margin: 5px;
		}
		.btn-sasmwy1{
			border-color: #b0b0b0;
			    background: #fff;
			    color: #757575;
		}
		.img-din{
		    width: 80px;
    height: 86px;
    position: absolute;
    left: 0;
    top: 0;
		}